---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div>
      &copy; 2026 {`|`} {SITE.NAME} <span class="text-xs">⬢</span>
    </div>
  </Container>
</footer>
