---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-col items-center gap-5">
      <Link href="/" underline={false}>
        <div class="flex flex-col items-center gap-2">
          <svg id="header-hexagon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="h-24 w-auto">
            <polygon points="50,5 93,27.5 93,72.5 50,95 7,72.5 7,27.5" fill="black"/>
          </svg>
          <img src="/logomain.png" alt={SITE.NAME} class="h-24 w-auto" />
        </div>
      </Link>
      <nav class="flex gap-3 items-center text-brand-navy">
        <Link href="/blog">blog</Link>
        <span class="text-black/40">⬢</span>
        <Link href="/projects">projects</Link>
        <span class="text-black/40">⬢</span>
        <Link href="/musings">musings</Link>
        <span class="text-black/40">⬢</span>
        <Link href="/tech">tech</Link>
        <span class="text-black/40">⬢</span>
        <Link href="/art">art</Link>
        <span class="text-black/40">⬢</span>
        <Link href="/contact">about</Link>
      </nav>
    </div>
  </Container>
</header>
