---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { MUSINGS } from "@consts";

const data = (await getCollection("musings"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"musings">[];
}

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) acc[year] = [];
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={MUSINGS.TITLE} description={MUSINGS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-brand-steel/85">
        Musings
      </div>
      <div class="space-y-4">
        {years.length === 0 && (
          <p class="animate text-black/50">Nothing here yet. Check back soon.</p>
        )}
        {years.map(year => (
          <section class="animate space-y-4">
            <div class="font-semibold text-brand-steel/85">{year}</div>
            <ul class="flex flex-col gap-4">
              {posts[year].map((post) => (
                <li><ArrowCard entry={post} /></li>
              ))}
            </ul>
          </section>
        ))}
      </div>
    </div>
  </Container>
</PageLayout>
